.app {
    margin: auto;
    width: 500px;
}
.form {
    display: flex;
}
.form input {
    flex: 1;
    border: 1px solid #e5e5e5;
    border-radius: 5px;
    padding-left: 15px;
}
.header {
    font-size: 22px;
    text-align: center;
    padding: 15px 0;
    border-bottom: 1px solid #e5e5e5;
    margin-bottom: 15px;
}
.form button {
    background-color: rgb(106, 76, 212);
    border: none;
    color: white;
    padding: 15px 30px;
    margin-left: 15px;
    border-radius: 5px;
}
/* .todos{} */
.todo {
    display: flex;
    justify-content: space-between;
    padding: 15px 0;
    border-bottom: 1px solid #e5e5e5;
    align-items: center;
}
.selected {
    background-color: #fff6d6;
}
.favorite {
    padding: 0 15px;
}
.favorite button {
    font-size: 22px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}
.selected .favorite button {
    color: rgb(230, 35, 74);
}
.todo-text {
    flex: 1;
}
.actions {
    padding-right: 15px;
}
.actions button {
    color: white;
    background-color: transparent;
    border: none;
    cursor: pointer;
}
.form button {
    cursor: pointer;
}
